body {
  font-size: 20px;
}
.input {
  background-color: #dcdcdc;
  color: #000;
  font-size: 1.6rem;
  margin: 0 auto 0.5vh;
  height: 6vw;
  text-align: center;
  width: 90vw;
}

.button {
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: 0 auto 0.5vh;
  height: 6vw;
  width: 90vw;
}
  .button:active,
  .button:focus,
  .button:visited  {
    color: #fff;
  }
  .locate {
    background-color: #6D93FF;
  }
    .locate:hover {
      background-color: #fff;
      color: #6D93FF;
    }
  .show-me {
    background-color: #483d8b;
  }
    .show-me:hover {
      background-color: #fff;
      color: #483d8b;
    }
  .reset-map {
    background-color: #b22222;
  }
    .reset-map:hover {
      background-color: #fff;
      color: #b22222;
    }

.title {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
} 
.content {
  font-size: 1.8rem;
  text-align: center;
}
.icon-love {
  width: 3.6rem;
}