body {
  font-size: 20px;
}
.input {
  background-color: #dcdcdc;
  margin: 0 auto 2vh;
  height: 6vw;
  text-align: center;
  width: 40vw;
}

.button {
  background-color: #6D93FF;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: 0 auto 2vh;
  height: 6vw;
  width: 40vw;
}
.button:hover {
  color: #bbb;
}
  .locate:hover {
    color: #666;
  }
  .show-me {
    background-color: #483d8b;
    color: #fff;
  }
  .reset-map {
    background-color: #b22222;
  }

.title {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
} 
.content {
  font-size: 1.8rem;
  text-align: center;
}
.icon-love {
  width: 3.6rem;
}